.table {
    .status {
        padding: 5px;
        border-radius: 5px;

        &.Approved {
            color: green;
            background-color: rgba(0, 128, 0, 0.153);
        }
        &.Pending {
            color: goldenrod;
            background-color: rgba(255, 255, 0, 0.135);
        }
    }
}